*.DS_Store
*.xcuserstate
*.xcbkptlist
*.xcuserdata
xcuserdata
*Pods/
native/Arattai.xcodeproj/xcuserdata/
native/Podfile.lock
native/Arattai.xcworkspace/xcshareddata/swiftpm/Package.resolved
native/Arattai.xcodeproj/xcshareddata/swiftpm/Package.resolved
*.swiftpm*
.build/
Packages/
Package.pins
*.ipa
*.dSYM.zip
*.dSYM
native/Arattai.xcworkspace/xcuserdata/*
native/Arattai.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
native/apptics-config-development.plist
native/Arattai.xcodeproj/xcshareddata/*
native/build